.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--main-font);
}

.card-title{
    display: flex;
}

.card-text{
    display: flex;
}

.card-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}