.navbar{
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: var(--main-color);
    padding: 0;
    padding-bottom: 4px;
}

.nav-link{
    margin: 8px;
    font-family: var(--second-font);
    font-size: 1.25rem;
    color: var(--text-color);
    font-weight: 900;
    padding: 8px;
    border-radius: 12px;
    text-decoration: none;
}

.nav-link:hover{
    background-color: var(--second-color); 
}

.nav-link:active{
    transform: translateY(4px);
}