:root{
    --main-color: #274C77;
    --second-color: #6096BA;
    --third-color: #A3CEF1;
    --bg-color: #E7ECEF;
    --text-color: #8B8C89;
    --main-font: 'Inconsolata', monospace;
    --second-font: 'Josefin Sans', sans-serif;
}

body{
    background-color: var(--bg-color);
    margin: 0;
}